generated/
keys/
local-config/
acme_fitness_demo/
tkg-lab/
tkg-extensions/

#Ignore Symlinks
tkg-extensions-mods-examples
dns
storage-classes
wavefront
elasticsearch-kibana
harbor
tmc
acme-fitness
acme_fitness_demo